HelperClasses/bin/Debug HelperClasses/bin/Release lLibrary/bin/Debug lLibrary/bin/Release WindowsFormsApp2/bin/Debug WindowsFormsApp2/bin/Release
HelperClasses/obj/Debug lLibrary/obj/Debug WindowsFormsApp2/obj/Debug WindowsFormsApp2/obj/Release
